* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F8F4F1;
    width: 100%;
    color: #FF6F61;
}

a {
    text-decoration: none;
    color: #FF6F61;

}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
}

ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    bottom: 0;
    transition: all 0.4s ease-in-out;
}

ul li:hover::after {
    width: 100%;

}

.header {
    display: inline-block;
    width: 100%;
}

.nav-bar { 
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #F9D5E5; 
    border-bottom: 1px solid #FFFFFF;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h1 {
    font-size: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a {
    padding-left: 5px;
}

.main {
    width: 100%;
    display: flex;
    height: 559px;
}

.hero {
    display: flex;
    width: 60%;
    height: 100%;
    background-image: url(./img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

.hero form {
}

.hero form input {
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;
}

input::placeholder {
    color: #FFFFFF;
}

.hero form button {
    border: none;
    padding: 10px;
    background-color: #FF6F61;
    color: #FFFFFF;
}

.recipe-list {
    display: flex;
    width: 40%;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.recipe-item {
    padding: 5px 0;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #F9D5E5; 
    border-bottom: 1px solid #FFFFFF;
}

.recipe-item .image {
    width: 20%;
}

.recipe-item .details {
    width: 79%;
}

.recipe-item .image img {
    width: 100%;
}

.recipe-item h3{
    font-size: 1rem;
}

.recipe-item ul {
    padding: 5px 0;
}

.recipe-item ul li {
    margin: 3px 5px;
    padding: 3px;
    background-color: #F8F4F1;
}