@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: Lato;
    }
  }
 
 
/*    
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Lato" ;
}

html {
  scroll-snap-type: y proximity;
}

body {
    font-size: 18px;
    width: 100%;
    /* color: #000000; */
    height: 100%;
    background-color: #E0DBDF;
  scroll-snap-type: y mandatory;

}

a {
    text-decoration: none;
    /* color: #000000; */
    
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 0%;
    visibility: hidden;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.animate {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);

}

.hero {
    background-image: url(./assets/images/hero-min.png);
}

.slide1 {
  /* box-shadow: 5px -10px 14px #310F01; */
}
.slide2 {
  /* box-shadow: 5px -20px 14px #310F01; */

}

/* .slide1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));;
} */

.toggle {
  /* background-color: #fff; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.input-mode{
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 300ms;
}

.icon--moon {
  /* transition-delay: 200ms; */
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  /* transition-delay: 200ms; */
  transform: scale(1) rotate(360deg);
}

.w-8 {
  width: 2rem /* 32px */;
}

.arrow {
  display: flex;
  cursor: pointer;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.arrow::before {
  content: "";
  
  border-right: 18px solid #FDE67E;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 50%;
  transition: all 0.3 ease-in-out;

}

.arrow::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #FDE67E;
  /* display: block; */
  position: relative;
  /* top: 9px; */
  transition: all 0.3 ease-in-out;
  border-radius: 10px;
}


.arrow::after:hover {
  width: 40px;
  transition: all 0.3 ease-in-out;
}
.arrow:hover {
  transform: translateX(-10px);

}