@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: Lato;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Lato" ;
}

body {
    font-size: 18px;
    width: 100%;
    color: #000000;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000000;
    
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}


body::-webkit-scrollbar {
    width: 0%;
    visibility: hidden;
}


.bg-gray {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.vh-100 {
    height: 100vh;
    width: 100%;
    transition: all 2s ease-in-out;
    opacity: 0;
    transform: translateX(60%);
    filter: blur(4px);
    transition-delay: 0.5s;
}

.animate {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);

}

